@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:ital,wght@0,300;0,400;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex:ital,wght@0,300;0,400;0,900;1,400&display=swap');

html {
    height: 100%;
}

body {
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    /* font-family: 'Libre Franklin', sans-serif; */
    font-family: 'Inconsolata', sans-serif;
    background: white;
    margin: 0;
}

.navbar-brand {
    font-family: 'IBM Plex', sans-serif;
    /* font-weight: bold; */
}


p {
    margin-bottom: 0;
}

h1 {
    font-size: 2.5em;
    margin: .25em 0em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar {
    padding: .75rem 0 0 0;
}

.navbar a {
    color: inherit;
    text-decoration: none;
}

.layout-container {
    /* margin: 0 auto;
    max-width: 1200px;
    padding-top: 1rem; */
    padding-bottom: 1vh;
}

.nav-item {
    color: gray;
    padding-left: 15px;
}

.nav-item:hover {
    color: inherit;
}

.footer {
    text-align: center;
    padding: 10px;
    font-family: 'IBM Plex', sans-serif;
}

.responsive-google-slides {
    position: relative;
    padding-bottom: 59.9%; /* 16:9 Ratio */
    height: 0;
    overflow: hidden;
}

.responsive-google-slides iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}